# Ignore virtual environments
venv/
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python dependencies
*.egg-info/
.env

# Ignore Excel and PDF outputs
*.xlsx
*.csv
*.pdf
